<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>builder</username>
      <password>AP79EbPqakB2zGCJPDj4XLnC1FKpthEmAxZ9zj</password>
      <id>tenforce-release</id>
    </server>
    <server>
      <username>builder</username>
      <password>AP79EbPqakB2zGCJPDj4XLnC1FKpthEmAxZ9zj</password>
      <id>tenforce-snapshot</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>tenforce-release</id>
          <name>maven-libs-release</name>
          <url>http://tf-joeritst.tenforce2.be:8081/artifactory/maven-libs-release</url>
        </repository>
        <repository>
          <snapshots/>
          <id>tenforce-snapshot</id>
          <name>maven-libs-snapshot</name>
          <url>http://tf-joeritst.tenforce2.be:8081/artifactory/maven-libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>tenforce-release</id>
          <name>maven-plugins-release</name>
          <url>http://tf-joeritst.tenforce2.be:8081/artifactory/maven-plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>tenforce-snapshot</id>
          <name>maven-plugins-snapshot</name>
          <url>http://tf-joeritst.tenforce2.be:8081/artifactory/maven-plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
